.patients-dashboard {
  margin-left: 2rem;
  color: var(--color-primary);
  margin-top: 3.5rem;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0;
  }

  &__subtitle {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
  }

  &__search {
    width: 120.5rem;
    height: 9rem;
    border: 0.1rem solid #00000040;
    border-radius: 1rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__search-box {
    width: 117rem;
    height: 4.9rem;
    background-color: #9a9a9a40;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;

    input {
      flex: 1;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 1.4rem;
      color: #0f002dbf;
      margin-left: 1rem;
    }

    i {
      font-size: 2.4rem;
      color: #0f002dbf;
    }
  }

  &__cards {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 5rem;
  }
}

/* ---------------- PATIENT CARD --------------- */

.patient-card {
  width: 36.9rem;
  height: 34.2rem;
  border: 0.1rem solid #00000040;
  border-radius: 1.5rem;
  padding-top: 2rem;

  &__header {
    display: flex;
    justify-content: space-around;
  }

  &__name {
    font-size: 1.8rem;
    color: var(--color-primary);
    margin: 0;
  }

  &__mrn,
  &__dob {
    font-size: 1.2rem;
    color: var(--color-primary);
    margin: 0;
  }

  &__status {
    width: 6rem;
    height: 2.6rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);

    &--active {
      background-color: var(--color-green-1);
    }

    &--discharged {
      background-color: #f8d47b;
    }

    &--readmitted {
      background-color: #5cb9ff;
    }
  }

  &__section {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }

  &__labels p,
  &__values p {
    font-size: 1.2rem;
    color: var(--color-primary);
    margin: .5rem 0;
  }

  &__divider {
    width: 27rem;
    height: 0.1rem;
    background-color: #0f002d80;
    margin: 2rem auto;
  }

  &__contact {
    margin-left: 4.5rem;
  }

  &__contact-item {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;

    i {
      margin-right: 1rem;
      font-size: 1.2rem;
    }

    p {
      margin: 0;
      font-size: 1.2rem;
      color: #000000;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
  }

  &__action {
    width: 13.7rem;
    height: 2.8rem;
    border: 0.1rem solid #0f002d80;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    cursor: pointer;

    i {
      margin-right: .5rem;
    }

    p {
      margin: 0;
    }
  }
}
