.add-prescription {
  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  &__form {
    background: #f8f9fa;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);

    .table {
      margin-top: 0.5rem;

      input {
        width: 100%;
      }
    }

    .btn {
      & + .btn {
        margin-left: 0.5rem;
      }
    }
  }
}
