<section class="sidebar-layout">
  <aside class="sidebar">
    <div class="sidebar__container">
      <img src="/images/logo.png" alt="" class="sidebar__logo" />

      <nav class="sidebar__menu">

        <div class="sidebar__item" routerLink="/reception/appointments" routerLinkActive="sidebar__item--active">
          <i class="sidebar__icon fa-solid fa-house"></i>
          <p class="sidebar__label">Appointments</p>
        </div>

        <div class="sidebar__item" routerLink="/reception/new/appointment" routerLinkActive="sidebar__item--active">
          <i class="sidebar__icon fa-solid fa-user"></i>
          <p class="sidebar__label">New Appointment</p>
        </div>

        <div class="sidebar__item sidebar__item--logout" (click)="logout()" style="margin-top: auto;">
          <i class="sidebar__icon fa-solid fa-right-from-bracket"></i>
          <p class="sidebar__label">Logout</p>
        </div>

      </nav>
    </div>
  </aside>

  <main class="sidebar-layout__content">
    <router-outlet></router-outlet>
  </main>
</section>
