<section id="dashboard" class="dashboard">
  <div class="dashboard__title">
    <h2 class="dashboard__title-main">Dashboard</h2>
    <p class="dashboard__title-sub">
      Welcome to MediCare Hospital Management System
    </p>
  </div>

  <div class="dashboard__stats">
    <div class="dashboard__card">
      <div class="dashboard__card--header">
        <p>Total Patients</p>
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="dashboard__card--info">
        <p>{{numOfPatients}}</p>
      </div>
    </div>

    <div class="dashboard__card">
      <div class="dashboard__card--header">
        <p>Today's Appointments</p>
        <i class="fa-regular fa-calendar-check"></i>
      </div>
      <div class="dashboard__card--info">
        <p>{{numOfTodaysAppointments}}</p>
      </div>
    </div>
  </div>

  <div class="dashboard__appointments">
    <div class="dashboard__appointments-card">
      <div class="dashboard__appointments-heading">Today's Appointments</div>

      @for(appointment of todaysAppointments; track appointment.id){
        <div class="dashboard__appointments-item">
          <div class="dashboard__appointments-item-info">
            <p>{{appointment.patientName}}</p>
            <p>{{appointment.doctorName}}</p>
          </div>
          <div class="dashboard__appointments-item-time">
            <p>{{ (appointment.appointmentDateTime | date:'HH:mm a') }}</p>
            <div [ngClass]="{
                'dashboard__appointments-item--confirmed': appointment.status === 'Confirmed',
                'dashboard__appointments-item--pending': appointment.status === 'Pending',
                'dashboard__appointments-item--delayed': appointment.status !== 'Confirmed' && appointment.status !== 'Pending',
              }"
              >{{appointment.status}}</div>
          </div>
        </div>
      }
    </div>
  </div>
</section>