<section id="dashboard" class="dashboard">
  <div class="dashboard__title">
    <h2 class="dashboard__title-main">
      Edit Doctor: {{ doctor?.firstName }} {{ doctor?.lastName }}
    </h2>
    <div class="patient-edit">
      <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
        @if(serverError){
        <div class="server-error" style="margin-bottom: 3rem">
          <span>{{ serverError }}</span>
        </div>
        }
        <div class="patient-edit__grid">
          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="firstName" />
            <label>First Name</label>
          </p-floatlabel>

          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="lastName" />
            <label>Last Name</label>
          </p-floatlabel>

          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="specialty" />
            <label>speciality</label>
          </p-floatlabel>

          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="licenseNumber" />
            <label>license Number</label>
          </p-floatlabel>

          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="qualifications" />
            <label>Qualifications</label>
          </p-floatlabel>

          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="yearsOfExperience" />
            <label>Years Of Experience</label>
          </p-floatlabel>

          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="availabilityNotes" />
            <label>Availability Notes</label>
          </p-floatlabel>

          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="userId" />
            <label>userId</label>
          </p-floatlabel>
          
          <div class="patient-edit__input">
            <label for="departmentId">Department</label>
            <select
              id="departmentId"
              class="form-select"
              formControlName="departmentId"
            >
              <option value="" disabled>Select Department</option>
              @for(dept of departments; track dept.id){
                <option [value]="dept.id">
                  {{ dept.en_Name }}
                </option>
              }
            </select>
          </div>
        </div>

        <div
          class="patient-edit__button-container"
          style="display: flex; gap: 1rem"
        >
          <p-button type="submit" label="Update Doctor"></p-button>

          <p-button
            label="Delete Doctor"
            styleClass="p-button-danger"
            (click)="onDelete()"
          ></p-button>
        </div>
      </form>
    </div>
  </div>
</section>
