<section id="dashboard" class="dashboard">
  <div class="dashboard__title">
    <h2 class="dashboard__title-main">Add New Doctor</h2>

    <div class="patient-edit">
      <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
        @if (serverError) {
        <div class="server-error" style="margin-bottom: 3rem">
          <span>{{ serverError }}</span>
        </div>
        }

        <div class="patient-edit__grid">
          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="firstName" />
            <label>First Name</label>
          </p-floatlabel>

          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="lastName" />
            <label>Last Name</label>
          </p-floatlabel>

          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="specialty" />
            <label>Specialty</label>
          </p-floatlabel>

          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="licenseNumber" />
            <label>License Number</label>
          </p-floatlabel>

          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="qualifications" />
            <label>Qualifications</label>
          </p-floatlabel>

          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="yearsOfExperience" />
            <label>Years Of Experience</label>
          </p-floatlabel>

          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="availabilityNotes" />
            <label>Availability Notes</label>
          </p-floatlabel>

          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="userId" />
            <label>User ID</label>
          </p-floatlabel>

          <p-floatlabel class="patient-edit__input">
            <input pInputText formControlName="departmentId" />
            <label>Department ID</label>
          </p-floatlabel>
        </div>

        <div class="patient-edit__button-container">
          <p-button type="submit" label="Add Doctor"></p-button>
        </div>
      </form>
    </div>
  </div>
</section>
