
.sidebar {
  width: 238px;
  height: 100%;
  position: fixed;
  background: white;
  border-right: 1px solid $color-primary;
  z-index: 1000;

  display: flex;
  flex-direction: column;

  &__container {
    padding: 2rem;
  }

  &__logo {
    width: 16rem;
    height: 5rem;
    margin: 8rem 0 0 2rem;
    margin-top: 3rem;
  }

  &__menu {
    margin-top: 4rem;
    flex: 1;

    display: flex;
    flex-direction: column;

    height: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    height: 4rem;
    margin-top: 1.5rem;
    cursor: pointer;
    color: $color-primary;
    padding: 0 1rem;
    border-radius: 1rem;
    transition: 0.2s ease;

    &:hover {
      background: $color-primary;

      .sidebar__icon,
      .sidebar__label {
        color: white;
      }
    }

    &--active {
      background: $color-primary;

      .sidebar__icon,
      .sidebar__label {
        color: white;
      }
    }
    &--logout:hover{
      background-color: red;
    }
    &--logout p, &--logout i{
      color: red;
      &:hover{
        color: $color-primary;
      }
    }
  }

  &__icon {
    font-size: 2rem;
    line-height: 1;
    color: $color-primary;
  }

  &__label {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;
    color: $color-primary;
  }
}

.sidebar-layout {
  display: flex;

  &__content {
    flex: 1;
    padding: 2rem;
    margin-left: 238px;
  }
}
