.login{
    padding: 3rem 7rem;
    background-color: white;

    &__logo{
        &--image{
            width: 130px;
            height: 40px;

            @include respond(phone){
                width: 100px;
                height: 30px;
            }
        }
    }
    &__main--container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2%;
        width: 100%;
        padding: 0 25rem;

        & > * {
            flex-basis: 44%;
        }

        @include respond(tab-land){
            padding: 0rem !important;
        }
    }
    &__content{
        flex: 1;
        margin-top: 10rem;
    }
    &__header{
        color: $color-primary;
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 1rem;

        @include respond(tab-port){
            font-size: 3rem;
        }

        @include respond(phone){
            font-size: 2.5rem;
        }
    }
    &__sub--header{
        color: $color-gray-1;
        font-size: 1.6rem;
        font-weight: 400;
        opacity: .75;

        @include respond(tab-port){
            font-size: 1.4rem;
        }

        @include respond(phone){
            font-size: 1.2rem;
        }
    }
    &__image--container{
        flex-basis: 40%;

        @include respond(tab-port){
            display: none;
        }

        @include respond(phone){
            margin-top: 1.5rem;
        }
    }
    &__image{
        width: 100%;
        max-height: 80vh;
        border-radius: 20px;

        @include respond(tab-port){
            max-height: 50vh;
        }

        @include respond(phone){
            max-height: 40vh;
        }
    }
    form{
        .login__input--container{
            margin-bottom: 2rem;
            position: relative;
    
            .p-password, input{
                width: 100% !important;
            }
            label{
                font-size: 1.2rem;

                @include respond(phone){
                    font-size: 1rem;
                }
            }
            input {
                padding: 1rem;
                font-size: 1.4rem;
                color: $color-black-1 !important;

                @include respond(phone){
                    font-size: 1.2rem;
                    padding: 0.8rem;
                }

                &:enabled:focus{
                    border-color: $color-primary;
                }
                &:focus + label {
                    color: $color-primary !important;
                    font-size: 1.2rem !important;
                }
            }
            .p-password-toggle-mask-icon{
                transform: scale(1.5) !important;
                margin-right: 1rem;

                @include respond(phone){
                    transform: scale(1.2) !important;
                }
            }
        }
        
        .login__check--forget-container{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5rem;

            @include respond(phone){
                flex-direction: column;
                gap: 1rem;
            }
        }
        .p-checkbox.p-component{
            transform: scale(1.5);
            margin-bottom: .3rem;

            @include respond(phone){
                transform: scale(1.2);
            }

            input{
                margin-right: 5rem !important;
            }
        }
        .checkbox__label{
            margin-left: 1rem;
            font-size: 1.2rem;

            @include respond(phone){
                font-size: 1rem;
            }
        }
        .login__forget--text{
            color: $color-orange-1;
            font-size: 1.4rem;
            font-weight: 500;
            cursor: pointer;

            @include respond(phone){
                font-size: 1.2rem;
            }
       }
       .login__button--container{
            width: 100%;
            border: 0;
       }
       .p-button{
            padding: .8rem 0;
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: 1.5rem;

            @include respond(phone){
                font-size: 1.2rem;
                padding: .6rem 0;
            }
        }
       .p-button, .p-button:hover{
            width: 100%;
            background-color: $color-primary !important;
            border: 0 !important;
        }
        .login__no--account-container{
            text-align: center;
            width: 100%;
    
            & span:first-child{
                font-size: 1.4rem;
                font-weight: 500;

                @include respond(phone){
                    font-size: 1.2rem;
                }
            }
            & span:last-child{
                font-size: 1.4rem;
                font-weight: 500;
                color: $color-orange-1;
                cursor: pointer;

                a{color: inherit; text-decoration: none;}

                @include respond(phone){
                    font-size: 1.2rem;
                }
            }
       }
    }
}