@if(record){
<div class="record-container">
  <div class="record-grid">
    <div class="record-item">
      <p class="record-header">Patient Name</p>
      <p class="record-value">{{ record?.patientName }}</p>
    </div>

    <div class="record-item">
      <p class="record-header">Diagnosis</p>
      <p class="record-value">{{ record?.diagnosis }}</p>
    </div>

    <div class="record-item">
      <p class="record-header">Symptoms</p>
      <p class="record-value">{{ record?.symptoms }}</p>
    </div>

    <div class="record-item">
      <p class="record-header">Treatment Plan</p>
      <p class="record-value">{{ record?.treatmentPlan }}</p>
    </div>

    <div class="record-item">
      <p class="record-header">BP</p>
      <p class="record-value">
        {{ record?.vitalBp || record?.bpSystolic + "/" + record?.bpDiastolic }}
      </p>
    </div>

    <div class="record-item">
      <p class="record-header">Heart Rate</p>
      <p class="record-value">{{ record?.heartRate }}</p>
    </div>

    <div class="record-item">
      <p class="record-header">Temperature</p>
      <p class="record-value">{{ record?.temperature }}</p>
    </div>

    <div class="record-item">
      <p class="record-header">Weight</p>
      <p class="record-value">{{ record?.weight }}</p>
    </div>

    <div class="record-item">
      <p class="record-header">Notes</p>
      <p class="record-value">{{ record?.notes }}</p>
    </div>

    <div class="record-item">
      <p class="record-header">Record Date</p>
      <p class="record-value">
        {{ record?.recordDate | date : "yyyy-MM-dd HH:mm" }}
      </p>
    </div>

    <div class="record-item">
      <p class="record-header">Record Type</p>
      <p class="record-value">{{ record?.recordType }}</p>
    </div>

    <div class="record-item">
      <p class="record-header">Is Finalized</p>
      <p class="record-value">{{ record?.isFinialize ? "Yes" : "No" }}</p>
    </div>
  </div>
</div>
}