
.title_dashboard {
  color: var(--color-primary);
  margin-top: 3.5rem;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
}
.title_dashboard div:first-child h2 {
  font-weight: 700;
  font-size: 2.4rem;
}
.title_dashboard :last-child {
  font-size: 1.4rem;
  font-weight: 400;
}
.title_dashboard .add_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.9rem;
  height: 4.3rem;
  background-color: var(--color-primary);
  border-radius: 1rem;
  margin-right: 3rem;
  cursor: pointer;
}
.title_dashboard .add_btn i {
  line-height: 1;
  color: white;
  font-size: 1.8rem;
  margin-right: 0.6rem;
}
.title_dashboard .add_btn p {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  line-height: 5;
  padding: 0;
  margin: 0;
}
.searchbar_dashboard {
  width: 120.5rem;
  height: 9rem;
  border: 0.1rem solid #00000040;
  border-radius: 1rem;
  margin-left: 2rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar_dashboard .search_settings {
  width: 117.568rem;
  height: 4.9rem;
  border-radius: 0.5rem;
  background-color: #9a9a9a40;
  display: flex;
  align-items: center;
}
.searchbar_dashboard .search_settings input,
input:focus {
  width: 140rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: #0f002dbf;
  margin-left: 2rem;
}
input::placeholder {
  color: #0f002dbf;
}
.searchbar_dashboard .search_settings i {
  font-size: 2.4rem;
  line-height: 0;
  margin-left: 3rem;
  color: #0f002dbf;
}
.second_section {
  display: flex;
  gap: 3rem;
}
.doctor_card {
  width: 36.9rem;
  height: 34.2rem;
  border: 0.1rem solid #00000040;
  border-radius: 1.5rem;
  margin-left: 2rem;
  margin-top: 5rem;
}
.doctor_card .name_and_satuts {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.doctor_card .name_and_satuts .doctor_info p:nth-child(1) {
  font-size: 1.8rem;
  color: var(--color-primary);
  margin: 0;
}
.doctor_card .name_and_satuts .doctor_info p:nth-child(2),
p:nth-child(3) {
  font-size: 1.2rem;
  color: var(--color-primary);
  margin: 0;
}

.doctor_card .name_and_satuts .active {
  width: 5.6rem;
  height: 2.6rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green-1);
  color: var(--color-primary);
}
.name_and_satuts_sec2 {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  gap: 7rem;
}
.name_and_satuts_sec2 .doctor_info_sec2 p:nth-child(1),
p:nth-child(2),
p:nth-child(3) {
  font-size: 1.2rem;
  color: var(--color-primary);
}
.doctor_card .line {
  width: 26.7rem;
  height: 0.1rem;
  margin-left: 4.5rem;
  margin-top: 2rem;
  background-color: #0f002d80;
}
.doctor_card .contact {
  margin-left: 4.5rem;
}
.doctor_card .contact .contact_info {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.doctor_card .contact .contact_info i {
  line-height: 1;
  margin: 0;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.doctor_card .contact .contact_info p {
  margin: 0;
  font-size: 1.2rem;
  color: #000000;
}
.view_and_edit {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}
.view {
  width: 13.7rem;
  height: 2.8rem;
  border: 0.1rem solid #0f002d80;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  cursor: pointer;
}
.view p {
  margin: 0;
  line-height: 0;
}
.view i {
  margin: 0;
  line-height: 0;
  margin-right: .5rem;
}