<section id="dashboard_doctor">
  <div class="title_dashboard">
    <div>
      <h2>Doctors</h2>
      <p>Manage doctor profiles and schedules</p>
    </div>
    <!-- <div class="add_btn">
      <i class="fa-solid fa-plus"></i>
      <p>Add Doctor</p>
    </div> -->
  </div>
  <div class="searchbar_dashboard">
    <div class="search_settings">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search doctors by name, dep ....." />
    </div>
  </div>
  <div class="second_section">
    <div class="doctor_card">
      <div class="name_and_satuts">
        <div class="doctor_info">
          <p>Dr.Sarah Smith</p>
          <p>Cardiologist</p>
          <p>Cardiology Department</p>
        </div>
        <div class="active">Active</div>
      </div>
      <div class="name_and_satuts_sec2">
        <div class="doctor_info_sec2">
          <p>Experience</p>
          <p>Active Patients</p>
          <p>Rating</p>
        </div>
        <div class="doctor_info_sec2_right">
          <p>12 Years</p>
          <p>45</p>
          <p>(4.8)</p>
        </div>
      </div>
      <div class="line"></div>
      <div class="contact">
        <div class="contact_info">
          <i class="fa-solid fa-phone"></i>
          <p>(555) 123-4567</p>
        </div>
        <div class="contact_info">
          <i class="fa-solid fa-envelope"></i>
          <p>sarah.smith---hospital.com</p>
        </div>
      </div>
      <div class="view_and_edit">
        <div class="view">
          <i class="fa-solid fa-eye"></i>
          <p>view</p>
        </div>
        <div class="view">
          <i class="fa-solid fa-file-pen"></i>
          <p>edit</p>
        </div>
      </div>
    </div>
    <div class="doctor_card">
      <div class="name_and_satuts">
        <div class="doctor_info">
          <p>Dr.Sarah Smith</p>
          <p>Cardiologist</p>
          <p>Cardiology Department</p>
        </div>
        <div class="active">Active</div>
      </div>
      <div class="name_and_satuts_sec2">
        <div class="doctor_info_sec2">
          <p>Experience</p>
          <p>Active Patients</p>
          <p>Rating</p>
        </div>
        <div class="doctor_info_sec2_right">
          <p>12 Years</p>
          <p>45</p>
          <p>(4.8)</p>
        </div>
      </div>
      <div class="line"></div>
      <div class="contact">
        <div class="contact_info">
          <i class="fa-solid fa-phone"></i>
          <p>(555) 123-4567</p>
        </div>
        <div class="contact_info">
          <i class="fa-solid fa-envelope"></i>
          <p>sarah.smith----hospital.com</p>
        </div>
      </div>
      <div class="view_and_edit">
        <div class="view">
          <i class="fa-solid fa-eye"></i>
          <p>view</p>
        </div>
        <div class="view">
          <i class="fa-solid fa-file-pen"></i>
          <p>edit</p>
        </div>
      </div>
    </div>
    <div class="doctor_card">
      <div class="name_and_satuts">
        <div class="doctor_info">
          <p>Dr.Sarah Smith</p>
          <p>Cardiologist</p>
          <p>Cardiology Department</p>
        </div>
        <div class="active">Active</div>
      </div>
      <div class="name_and_satuts_sec2">
        <div class="doctor_info_sec2">
          <p>Experience</p>
          <p>Active Patients</p>
          <p>Rating</p>
        </div>
        <div class="doctor_info_sec2_right">
          <p>12 Years</p>
          <p>45</p>
          <p>(4.8)</p>
        </div>
      </div>
      <div class="line"></div>
      <div class="contact">
        <div class="contact_info">
          <i class="fa-solid fa-phone"></i>
          <p>(555) 123-4567</p>
        </div>
        <div class="contact_info">
          <i class="fa-solid fa-envelope"></i>
          <p>sarah.smith----hospital.com</p>
        </div>
      </div>
      <div class="view_and_edit">
        <div class="view">
          <i class="fa-solid fa-eye"></i>
          <p>view</p>
        </div>
        <div class="view">
          <i class="fa-solid fa-file-pen"></i>
          <p>edit</p>
        </div>
      </div>
    </div>
  </div>
</section>