.appointments {
    margin-right: 2rem;
  &__header {
    color: $color-primary;
    margin-top: 3.5rem;
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;

    &-title {
      h2 {
        font-weight: 700;
        font-size: 2.4rem;
      }

      p {
        font-size: 1.4rem;
        font-weight: 400;
      }
    }

    &-add-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-primary;
        border-radius: 1rem;
        align-self: flex-start;
        padding: 1.5rem;
        cursor: pointer;

        i {
            line-height: 1;
            color: white;
            font-size: 1.4rem;
            margin-right: 0.6rem;
        }

        p {
            font-size: 1.4rem;
            font-weight: 700;
            color: white;
            line-height: 0;
            margin: 0;
        }
    }
  }

  &__item {
    // width: 120.5rem;
    height: 20.7rem;
    border: 0.1rem solid $color-primary;
    border-radius: 1rem;
    margin-left: 2rem;
    margin-top: 4rem;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
  }

  /* Person Section */
  &__person {
    display: flex;
    justify-content: space-between;
    gap: 12rem;

    &-left {
      display: flex;
      gap: 15rem;
    }

    &-name {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.8rem;
      font-weight: 400;

      p {
        margin: 0;
      }
    }

    &-time {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.8rem;
      font-weight: 400;

      p {
        margin: 0;
      }
    }

    &-status {
      display: flex;
      gap: 2rem;
      margin-top: 0.5rem;

      &-confirmed {
        width: 7.8rem;
        height: 2.6rem;
        background-color: var(--color-green-1);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
      }

      &-consultation {
        width: 8.8rem;
        height: 2.6rem;
        background-color: var(--color-purple-1);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
      }
    }

    &-actions {
      display: flex;
      gap: 2rem;

      &-edit {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border: 0.1rem solid $color-primary;
        border-radius: 1rem;
        font-size: 1.8rem;
        font-weight: 700;
        color: $color-primary;
        cursor: pointer;

        p {
            margin: 0;
            font-size: 1.4rem;
        }
      }

      &-confirm {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        width: 8.6rem;
        height: 4.3rem;
        background-color: $color-primary;
        border-radius: 1rem;
        font-size: 1.4rem;
        font-weight: 700;
        padding: 1rem;
        color: white;
        cursor: pointer;

        p {
            margin: 0;
        }
      }
    }
  }

  /* Doctor Info */
  &__doctor {
    margin-top: 2rem;

    &-info {
      display: flex;
      gap: 5.4rem;
    }

    &-name {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.8rem;
      color: $color-primary;

      p {
        margin: 0;
      }
    }

    &-time {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.8rem;
      color: $color-primary;

      p {
        margin: 0;
      }
    }
  }

  &__category {
    margin-left: .5rem;
    margin-top: 4rem;
    color: $color-primary;
    font-size: 1.4rem;
    font-weight: 600;
  }
}
