<div class="patient-details">
  <div class="patient-details__header">
    <h2 class="patient-details__title">Patient Details</h2>
  </div>

  <div class="patient-details__card">
    <div class="patient-details__row">
      <span class="patient-details__label">Name:</span>
      <span class="patient-details__value"
        >{{ patient.firstName }} {{ patient.lastName }}</span
      >
    </div>

    <div class="patient-details__row">
      <span class="patient-details__label">Gender:</span>
      <span class="patient-details__value">{{ patient.gender }}</span>
    </div>

    <div class="patient-details__row">
      <span class="patient-details__label">Date of Birth:</span>
      <span class="patient-details__value">{{
        patient.dateOfBirth | date
      }}</span>
    </div>

    <div class="patient-details__row">
      <span class="patient-details__label">National ID:</span>
      <span class="patient-details__value">{{ patient.nationalId }}</span>
    </div>

    <div class="patient-details__row">
      <span class="patient-details__label">Blood Type:</span>
      <span class="patient-details__value">{{ patient.bloodType }}</span>
    </div>

    <div class="patient-details__row">
      <span class="patient-details__label">Allergies:</span>
      <span class="patient-details__value">{{ patient.allergies }}</span>
    </div>

    <div class="patient-details__row">
      <span class="patient-details__label">Chronic Conditions:</span>
      <span class="patient-details__value">{{
        patient.chrinicConditions
      }}</span>
    </div>

    <div class="patient-details__row">
      <span class="patient-details__label">Address:</span>
      <span class="patient-details__value">{{ patient.address }}</span>
    </div>

    <div class="patient-details__row">
      <span class="patient-details__label">Emergency Contact:</span>
      <span class="patient-details__value"
        >{{ patient.emergencyContactName }} -
        {{ patient.emergencyContactPhone }}</span
      >
    </div>

    <div class="patient-details__row">
      <span class="patient-details__label">Status:</span>
      <span class="patient-details__value">{{ patient.status }}</span>
    </div>

    <div class="patient-details__row">
      <span class="patient-details__label">Registration Date:</span>
      <span class="patient-details__value">{{
        patient.registrationDate | date
      }}</span>
    </div>
    <button class="patient-details__edit-btn" (click)="goToEdit()">Edit</button>
  </div>
</div>
