.title_dashboard {
  color: var(--color-primary);
  margin-top: 3.5rem;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
}
.title_dashboard div:first-child h2 {
  font-weight: 700;
  font-size: 2.4rem;
}
.title_dashboard :last-child {
  font-size: 1.4rem;
  font-weight: 400;
}
.title_dashboard .add_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.9rem;
  height: 4.3rem;
  background-color: var(--color-primary);
  border-radius: 1rem;
  margin-right: 6.6rem;
  cursor: pointer;
}
.title_dashboard .add_btn i {
  line-height: 1;
  color: white;
  font-size: 1.8rem;
  margin-right: 0.6rem;
}
.title_dashboard .add_btn p {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  line-height: 5;
  padding: 0;
  margin: 0;
}
.searchbar_dashboard {
  width: 120.5rem;
  height: 9rem;
  border: 0.1rem solid #00000040;
  border-radius: 1rem;
  margin-left: 2rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar_dashboard .search_settings {
  width: 117.568rem;
  height: 4.9rem;
  border-radius: 0.5rem;
  background-color: #9a9a9a40;
  display: flex;
  align-items: center;
}
.searchbar_dashboard .search_settings input,
input:focus {
  width: 140rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: #0f002dbf;
  margin-left: 2rem;
}
input::placeholder {
  color: #0f002dbf;
}
.searchbar_dashboard .search_settings i {
  font-size: 2.4rem;
  line-height: 0;
  margin-left: 3rem;
  color: #0f002dbf;
}
.record {
  width: 120.5rem;
//   height: 28.6rem;
  border: 0.1rem solid #0f002d80;
  border-radius: 1rem;
  margin-left: 2rem;
  margin-top: 3rem;
  padding-bottom: 3rem;
}
.record_info {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.record_info .info {
  margin-left: 5rem;
}
.record_info .info p:first-child {
  font-size: 1.6rem;
  font-weight: 400;
}
.record_info .info p:last-child {
  font-size: 1.4rem;
}
.record_info .diagnosis {
  margin-right: 5rem;
  width: 7.6rem;
  height: 2.1rem;
  font-size: 1.4rem;
  color: #002ab5;
  background-color: #9fdaff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.record_details_download {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.record_details_download .details {
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 4rem;
}
.record_details_download .view_downlad {
  display: flex;
  gap: 2rem;
  margin-right: 3.5rem;
}
.item_border{
    border: 1px solid var();
}
.record_details_download .view_downlad .viewBtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 9.2rem;
  height: 4.3rem;
  border: 0.1rem solid #252b61;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: var(--color-primary);
  cursor: pointer;
}
.record_details_download .view_downlad .viewBtn p {
  margin: 0;
  line-height: 0;
  font-weight: 700;
}
.record_details_download .view_downlad .downloadBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  width: 19.2rem;
  height: 4.3rem;
  background-color: var(--color-primary);
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}
.record_details_download .view_downlad .downloadBtn p {
  margin: 0;
  line-height: 0;
  font-weight: 700;
}
.time_attachment {
  display: flex;
  margin-left: 4.6rem;
  gap: 2rem;
}
.time_attachment .time {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  font-size: 1.6rem;
}
.time_attachment .time p {
  margin: 0;
  line-height: 0;
}
.time_attachment .attachment {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  font-size: 1.6rem;
}
.time_attachment .attachment p {
  margin: 0;
  line-height: 0;
}
.line {
  width: 111rem;
  background-color: var(--color-primary);
  height: 0.1rem;
  margin-top: 3rem;
  margin-left: 4.6rem;
  border-radius: 2rem;
}
.Attachments_last {
  margin-left: 4.6rem;
  margin-top: 1rem;
}
.Attachments_last p:first-child {
  font-size: 1.4rem;
  color: var(--color-primary);
  font-weight: 400;
}
.Attachments_last .Attachments_details {
  width: 22.6rem;
  height: 3.1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 0.1rem solid var(--color-primary);
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.Attachments_last .Attachments_details p {
  margin: 0;
  line-height: 0;
}