<section class="appointments">
  <div class="appointments__header">
    <div class="appointments__header-title">
      <h2>Appointments</h2>
      <p>Review the history of your old Appointment</p>
    </div>

    <!-- <div class="appointments__header-add-btn">
      <i class="fa-solid fa-plus"></i>
      <p>Add Appointment</p>
    </div> -->
  </div>

  <div class="appointments__item">
    <div class="appointments__person">
      <div class="appointments__person-left">
        <div class="appointments__person-name">
          <i class="fa-solid fa-user"></i>
          <p>John Doe</p>
        </div>

        <div class="appointments__person-time">
          <i class="fa-regular fa-calendar"></i>
          <p>2024-01-22</p>
        </div>
      </div>

      <div class="appointments__person-status">
        <div class="appointments__person-status-confirmed">confirmed</div>
        <div class="appointments__person-status-consultation">consultation</div>
      </div>

      <div class="appointments__person-actions">
        <div class="appointments__person-actions-edit">
          <i class="fa-solid fa-file-pen"></i>
          <p>Edit</p>
        </div>
        <div class="appointments__person-actions-confirm">confirm</div>
      </div>
    </div>

    <div class="appointments__doctor">
      <div class="appointments__doctor-info">
        <div class="appointments__doctor-name">
          <i class="fa-solid fa-user-doctor"></i>
          <p>Dr. Michael Johnson</p>
        </div>

        <div class="appointments__doctor-time">
          <i class="fa-regular fa-clock"></i>
          <p>09:00 (30min)</p>
        </div>
      </div>
    </div>

    <div class="appointments__category">Department: Cardiology</div>
  </div>
</section>
