<section class="dashboard_appointments">
  <div class="title_dashboard">
    <div>
      <h2>Appointments</h2>
      <p>Review the history of your old appointments</p>
    </div>
  </div>

  <div
    *ngFor="let appointment of appointments; trackBy: trackById"
    class="section_two"
  >
    <!-- Patient Info -->
    <div class="person_info">
      <div class="name_time_other">
        <div class="name_time">
          <div class="name">
            <i class="fa-solid fa-user"></i>
            <p class="fw-bold">{{ appointment.patientName }}</p>
          </div>
          <div class="time">
            <i class="fa-regular fa-calendar"></i>
            <p>{{ appointment.appointmentDateTime | date : "yyyy-MM-dd" }}</p>
          </div>
        </div>

        <div class="confirm_consultation">
          <div
            [ngClass]="{
              'dashboard__appointments-item--confirmed':
                appointment.status === 'Confirmed',
              'dashboard__appointments-item--pending':
                appointment.status === 'Pending',
              'dashboard__appointments-item--delayed':
                appointment.status === 'Delayed',
              'dashboard__appointments-item--cancelled':
                appointment.status === 'Cancelled',
              'dashboard__appointments-item--noshow':
                appointment.status === 'NoShow'
            }"
            class="status-pill"
          >
            {{ appointment.status }}
          </div>
          <div class="consultation">{{ appointment.reasonForVisit }}</div>
        </div>

        <div class="edit_confirm">
          <button
            type="button"
            class="view-details"
            (click)="viewDetails(appointment)"
          >
            <i class="fa-solid fa-eye"></i>
            <p>View</p>
          </button>

          <button
            type="button"
            class="edit"
            (click)="editAppointment(appointment)"
          >
            <i class="fa-solid fa-file-pen"></i>
            <p>Edit</p>
          </button>
          <!-- Confirm button removed for Admin -->
        </div>
      </div>
    </div>

    <!-- Doctor Info -->
    <div class="doctor_info">
      <div class="info">
        <div class="name_time_doctor">
          <div class="name_doctor">
            <i class="fa-solid fa-user-doctor"></i>
            <p>Dr: {{ appointment.doctorName }}</p>
          </div>
          <div class="time_doctor">
            <i class="fa-regular fa-clock"></i>
            <p>{{ appointment.appointmentDateTime | date : "HH:mm" }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
